{% extends 'base.html' %}

 {% block content %}

  <h1>Lab 1 Assignment PBP</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{student_id}}</p>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_item %}
    <tr>
      <th>{{item.item_name}}</th>
      <th>{{item.item_price}}</th>
      <th>{{item.item_stock}}</th>
      <th>{{item.rating}}</th>
      <th>{{item.description}}</th>
      <th>{{item.item_url}}</th>
    </tr>
{% endfor %}
  </table>

{% endblock content %}
